h1 {
    font-family: Poppins, sans-serif;
    font-weight: 900;
    font-size: 4.8rem;
    line-height: 82px;
    color: #fff;
}

h2 {
    font-family: Poppins;
    font-weight: 900;
    font-size: 22px;
    line-height: 23px;
    color: #FFFFFF;
    text-shadow: 0px 2px 15px rgba(167, 40, 40, 0.14);
    -webkit-text-stroke-color: rgba(167, 40, 40, 0.25);
    -webkit-text-stroke-width: 1px;
}

p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    color: #FFFFFF;
}
